{{- /* Joins a local path to the base URL (keeping the subpath absURL drops).
       The query and fragment are split off first: JoinPath would encode ? and #. */ -}}
{{- $url := printf "%v" . -}}
{{- if not (partial "is-remote.html" $url) -}}
  {{- $u := urls.Parse $url -}}
  {{- $url = urls.JoinPath site.BaseURL $u.EscapedPath -}}
  {{- with $u.RawQuery }}{{ $url = printf "%s?%s" $url . }}{{ end -}}
  {{- with $u.EscapedFragment }}{{ $url = printf "%s#%s" $url . }}{{ end -}}
{{- end -}}
{{- return $url -}}
