{{- /* A link is written only for a file present in static/. */ -}}
{{- $icons := slice
  (dict "file" "apple-touch-icon.png" "rel" "apple-touch-icon" "sizes" "180x180")
  (dict "file" "favicon-32x32.png" "rel" "icon" "type" "image/png" "sizes" "32x32")
  (dict "file" "favicon-16x16.png" "rel" "icon" "type" "image/png" "sizes" "16x16")
  (dict "file" "site.webmanifest" "rel" "manifest")
  (dict "file" "safari-pinned-tab.svg" "rel" "mask-icon" "color" .Site.Params.favicon.mask)
  (dict "file" "favicon.ico" "rel" "shortcut icon")
-}}
{{- range $icons }}
{{- if fileExists (printf "static/%s" .file) }}
    <link rel="{{ .rel }}"{{ with .type }} type="{{ . }}"{{ end }}{{ with .sizes }} sizes="{{ . }}"{{ end }} href="{{ .file | relURL }}"{{ with .color }} color="{{ . }}"{{ end }}>
{{- end }}
{{- end }}
{{- /* Only when set: an empty content asserts the colour is blank. */ -}}
{{- with .Site.Params.favicon.msapplication }}
    <meta name="msapplication-TileColor" content="{{ . }}">
{{- end }}
