{{- $newer := "" -}}{{- with .NextInSection }}{{ if .Permalink }}{{ $newer = . }}{{ end }}{{ end -}}
{{- $older := "" -}}{{- with .PrevInSection }}{{ if .Permalink }}{{ $older = . }}{{ end }}{{ end -}}
{{ if and (not (partial "switch.html" $.Site.Params.DisableReadOtherPosts)) (or $newer $older) }}
    <div class="pagination">
        {{ if .Site.Params.ReadOtherPosts }}
        <div class="pagination__title">
            <span class="pagination__title-h">{{ .Site.Params.ReadOtherPosts }}</span>
            <hr />
        </div>
        {{ end }}

        <div class="pagination__buttons">
            {{ with $newer }}
            <span class="button previous">
                <a href="{{ .Permalink }}">
                    <span class="button__icon" aria-hidden="true">←</span>
                    <span class="button__text">{{ partial "title-plain.html" . }}</span>
                </a>
            </span>
            {{ end }}

            {{ with $older }}
            <span class="button next">
                <a href="{{ .Permalink }}">
                    <span class="button__text">{{ partial "title-plain.html" . }}</span>
                    <span class="button__icon" aria-hidden="true">→</span>
                </a>
            </span>
            {{ end }}
        </div>
    </div>
{{ end }}